In [9]:
import numpy as np
import pandas as pd
from sklearn import tree

In [10]:
irisDataset = pd.read_csv('Orchid.csv', delimiter=';', header=0)

In [11]:
irisDataset.head()

   Id  SepalLengthCm  ...  PetalWidthCm              Species
0   1           7.00  ...          1.04  Orchid-phalaenopsis
1   2           6.04  ...          1.06  Orchid-phalaenopsis
2   3           6.09  ...          1.06  Orchid-phalaenopsis
3   4           6.06  ...          1.04  Orchid-phalaenopsis
4   5           6.06  ...          1.06  Orchid-phalaenopsis

[5 rows x 6 columns]

In [12]:
irisDataset["Species"] = pd.factorize(irisDataset.Species)[0]

In [13]:
irisDataset = irisDataset.drop(labels="Id", axis=1)

In [14]:
print(irisDataset)

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0            7.00          4.02           4.07          1.04        0
1            6.04          4.02           4.06          1.06        0
2            6.09          4.01           4.09          1.06        0
3            6.06          2.04           4.00          1.04        0
4            6.06          2.08           4.06          1.06        0
..            ...           ...            ...           ...      ...
95           6.07          3.00           6.02          2.04        1
96           6.04          2.06           5.00          1.09        1
97           6.06          3.00           6.02          2.00        1
98           6.02          4.04           6.04          2.04        1
99           6.09          3.00           6.01          1.08        1

[100 rows x 5 columns]

In [15]:
irisDataset = irisDataset.to_numpy()

In [ ]:
print(irisDataset)

In [17]:
dataTraining = np.concatenate((irisDataset[0:40, :], irisDataset[50:90, :]),
                              axis=0)
dataTesting = np.concatenate((irisDataset[40:50, :], irisDataset[90:100, :]),
                             axis=0)

In [ ]:
print(dataTraining)
len(dataTraining)

In [19]:
inputTraining = dataTraining[:, 0:4]
inputTesting = dataTesting[:, 0:4]
labelTraining = dataTraining[:, 4]
labelTesting = dataTesting[:, 4]
print(labelTraining)
len(labelTraining)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.
 1. 1. 1. 1. 1. 1. 1. 1.]

80

In [20]:
model = tree.DecisionTreeClassifier()

In [21]:
model = model.fit(inputTraining, labelTraining)

In [23]:
hasilPredik = model.predict(inputTesting)
print("Label Sebenarnya : ", labelTesting)
print("Label Prediksi : ", hasilPredik)

Label Sebenarnya :  [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
Label Prediksi :  [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

In [24]:
#menghitung akurasi
predBenar = (hasilPredik == labelTesting).sum()
predSalah = (hasilPredik != labelTesting).sum()
print("Prediksi Benar :", predBenar, "data")
print("Prediksi Salah :", predSalah, "data")
print("Akurasi :", predBenar/(predBenar+predSalah) * 100, "%")

Prediksi Benar : 20 data
Prediksi Salah : 0 data
Akurasi : 100.0 %